@charset "UTF-8";
button {
  outline: none !important;
}

.barra .mv-logo {
  margin: 0;
  width: 4rem;
  height: 4rem;
  -webkit-transform: scale(1.54);
          transform: scale(1.54);
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(1deg) brightness(102%) contrast(105%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(1deg) brightness(102%) contrast(105%);
}

.barra nav {
  background-color: #010042;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #010042;
  height: 7rem;
  color: #fcf9f8;
}

nav p {
  bottom: 0;
}

.footer-down {
  position: relative;
  top: 45vh;
}

@media only screen and (max-width: 1190px) {
  .footer-down {
    top: 55rem !important;
  }
}

/* Categorias de productos */
.container-general-categorias .container-categorias .ms {
  -webkit-transition: 600ms;
  transition: 600ms;
}

.container-general-categorias .container-categorias .ms:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.75);
}

.container-general-categorias .container-categorias .link-categ {
  text-decoration: none;
  color: #000000;
}

.container-general-categorias .container-categorias .link-categ:hover {
  cursor: pointer;
}

.container-general-categorias .container-categorias .link-categ .card {
  -webkit-transition: 600ms;
  transition: 600ms;
}

.container-general-categorias .container-categorias .link-categ .card:hover {
  -webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.75);
}

.container-general-categorias .container-categorias .img-categ {
  width: 100%;
  height: 9rem;
}

.container-general-categorias .container-categorias ion-icon[name='trash'] {
  color: #ee1616;
  float: right;
  position: relative;
  left: 0.5rem;
  top: 0.2rem;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.container-general-categorias .container-categorias ion-icon[name='trash']:hover {
  cursor: pointer;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.container-general-categorias .container-categorias ion-icon[name='remove'], .container-general-categorias .container-categorias ion-icon[name='add'] {
  float: right;
  margin-left: .5rem;
  margin-top: .15rem;
  color: black;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.container-general-categorias .container-categorias ion-icon[name='remove']:hover, .container-general-categorias .container-categorias ion-icon[name='add']:hover {
  cursor: pointer;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.container-general-categorias .container-categorias .item-producto:hover {
  cursor: pointer;
}

.container-general-categorias .container-categorias .text-resumen {
  margin-left: 2.8rem;
}

@media (max-width: 992px) {
  .card {
    width: 100% !important;
  }
  .card img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container-productos {
    margin: 0 auto !important;
  }
  .text-resumen {
    margin-top: 5rem;
    margin-left: 1rem;
  }
  .text-categoria {
    display: none !important;
  }
  .botones-imprimir {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 149%;
    margin: 0 auto;
  }
  .txt-print {
    display: none;
  }
}

/* Productos según la categoría */
.container-productos .list {
  background: #fff !important;
}

.container-productos .list .product-button {
  height: 6rem;
  border: none;
}

.overlay {
  margin-top: 1.3rem;
  width: 100%;
  height: 39rem;
  background: url(../img/mv-fondo.svg) no-repeat center center;
  background-size: 100% 140%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
