/* Productos según la categoría */

.container-productos {


    .list {
        background: #fff !important;

        .product-button {
            height: 6rem;
            border: none;
        }

    }

}